---
layout: home
---

<div id="confs">
        <div id="coming_confs">
          {% assign confs = site.data.conferences | sort: "cfp" | reverse %}
          {% for conf in confs %}
          {% assign subs = conf.sub | split: "," %}
          <div id="{{conf.conference | slugify: "latin"}}-{{conf.year}}" 
               class="ConfItem {% for sub in subs %} {{sub | strip}}-conf {% endfor %}"
               data-conf-id="{{conf.conference | slugify: "latin"}}-{{conf.year}}"
               data-conf-name="{{conf.conference}}"
               data-conf-year="{{conf.year}}"
               data-location="{{conf.place}}"
               data-format="{% if conf.extra_places %}hybrid{% elsif conf.link contains 'virtual' or conf.place contains 'Virtual' or conf.place contains 'Online' %}virtual{% else %}in-person{% endif %}"
               data-topics="{{conf.sub}}"
               data-cfp="{{conf.cfp}}"
               data-cfp-ext="{{conf.cfp_ext}}"
               data-start="{{conf.start}}"
               data-end="{{conf.end}}"
               data-link="{{conf.link}}"
               data-cfp-link="{{conf.cfp_link}}"
               data-has-finaid="{% if conf.finaid %}true{% else %}false{% endif %}"
               data-has-workshop="{% if conf.workshop_deadline %}true{% else %}false{% endif %}"
               data-has-sponsor="{% if conf.sponsor %}true{% else %}false{% endif %}">
            {% include index_conf_title_row.html %}
            {% include_cached index_conf_date_place.html place=conf.place extra_places=conf.extra_places note=conf.note cfp=conf.cfp start=conf.start end=conf.end %}
            {% include index_conf_subs.html subs=subs %}
            <hr />
          </div>
          {% endfor %}
        </div>
        <div id="past_cfps">
          <h1 id="past-cfps-title">{% t titles.past_cfps %}</h1>
        </div>
        <div id="past_confs">
          <h1 id="past-events-title">{% t titles.past_events %}</h1>
        </div>
        <div id="conf_archive">
          <h1 id="archive-link"><a href="{% tl archive %}">{% t titles.visit_archive %}</a></h1>
        </div>
      </div>
      <br><br>
    </div>
    
    <script type="text/javascript" charset="utf-8">
    // Global conference data for lazy loading
    window.conferenceData = window.conferenceData || {};

    $(function() {
      luxon.Settings.defaultLocale = "{{ site.lang }}";
      var DateTime = luxon.DateTime;
      var today = DateTime.now();

      // Make sure this is >= no. of subs
      // Currently not used
      var colors = ['#341f97', '#ee5253', '#2e86de',
                    '#ff9f43', '#10ac84', '#222f3e']


      {% include load_data.js %}
      {% include utils.js %}
      {% include multiselect_handler.js %}

      // Set time zone to local timezone on web copy
      $('.local-timezone').text(today.toFormat('z'));

      {% for conf in site.data.conferences %}
      	{% if conf.cfp_ext %}
          {% assign cfp = conf.cfp_ext %}
        {% else %}
          {% assign cfp = conf.cfp %}
        {% endif %}
        {% assign subs = conf.sub | split: "," %}
        {% for sub in subs %}
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .{{sub | strip}}-tag').html("{% t 'subs.{{sub | strip}}' %}".toLocaleLowerCase("{{ site.lang }}"));
        {% endfor %}
        {% if cfp == "TBA" or cfp == "Cancelled" or cfp == "None" %}
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').html("{{cfp}}");
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html("{{cfp}}");
          {% if cfp == "TBA" %}
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", Infinity);
          {% else %}
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", -Infinity);
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').appendTo($("#past_cfps"));
          {% endif %}
        {% else %}

          // Use specified timezone for deadlines if available else use AoE timezone
          {% if conf.timezone %}
            var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "{{conf.timezone}}"});
            var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "{{conf.timezone}}"});
          {% else %}
            var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "UTC-12"});
            var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "UTC-12"});
          {% endif %}

          // check if timezone is valid otherwise replace by system timezone
          if (cfpDate.invalid === true || confDate.invalid === true) {
            var cfpDate = DateTime.fromSQL("{{cfp}}");
            var confDate = DateTime.fromSQL("{{conf.start}}");
            console.log("Invalid timezone in {{conf.conference | slugify: "latin"}}-{{conf.year}}. Using system timezone instead.");
          }

          // Store conference deadline data for lazy loading
          var confElement = document.getElementById('{{conf.conference | slugify: "latin"}}-{{conf.year}}');
          if (confElement) {
            confElement.dataset.confId = '{{conf.conference | slugify: "latin"}}-{{conf.year}}';
            confElement.dataset.cfpDate = cfpDate.toISO();
            confElement.dataset.confDate = confDate.toISO();
          }
          
          // Add countdown display containers with data attributes
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').html('<span class="countdown-display" data-deadline="' + cfpDate.toISO() + '">Loading...</span>');
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer-small').html('<span class="countdown-display countdown-small" data-deadline="' + cfpDate.toISO() + '">...</span>');

          // deadline in local timezone
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time')
            .html(cfpDate.setZone('system').toLocaleString(DateTime.DATE_HUGE))
            .attr('data-deadline', cfpDate.toISO());

          // add calendar button
          try {
          var myCalendar = createCalendarFromObject({
            id:  '{{conf.conference | slugify: "latin"}}-{{conf.year}}',
            title: '{{conf.conference}} {{conf.year}} deadline',
            start_date: cfpDate.toJSDate(),
            duration: 60,
            place: '{{conf.place}}',
            link: '{{conf.link}}'
          });
          var calendarContainer = document.querySelector('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar');
          if (calendarContainer) {
            calendarContainer.appendChild(myCalendar);
          }
          } catch(err) {
            var calendarContainer = document.querySelector('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar');
            if (calendarContainer) {
              var errorMsg = document.createElement('p');
              errorMsg.textContent = 'Calendar not available.';
              calendarContainer.appendChild(errorMsg);
            }
            console.log("Error in cfp date.");
          }

          // check if date has passed, add 'past' class to it
          cfpDiff = cfpDate.diffNow("seconds");
          confDiff = confDate.diffNow("seconds");

          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", cfpDiff.toMillis());
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("confDiff", confDiff.toMillis());

          if (cfpDiff < 0) {
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').addClass('pastcfp');
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').appendTo($("#past_cfps"));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer-small').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar').remove();
          }

          if (confDiff < 0) {
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').addClass('pastconf');
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').appendTo($("#past_confs"));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer-small').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar').remove();
          }
        {% endif %}
      {% endfor %}

      // Sort coming_confs and past_confs
      $("#coming_confs .ConfItem").sort(function (a, b) {
        return $(a).attr('cfpDiff') - $(b).attr('cfpDiff');
      }).appendTo($("#coming_confs"));

      {% include handle_url_retrieval.js %}

      // Event handler on sub badge click
      $('.conf-sub').click(function (e) {
          var csub = $(this).data('sub');
          subs = [csub];
          $("#subject-select").multiselect('deselect', all_subs);
          $("#subject-select").multiselect('select', subs);
          update_filtering({ subs: subs, all_subs: all_subs});
      });

    });
    </script>
