.mastodon-feed {
    font-family: Arial, sans-serif;
}

.mastodon-feed-link {
  display: inline-block;
  margin: 0.35rem 0;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
  }

@media only screen and (min-width: 992px) {
  .mastodon-feed {
    max-height: 72vh;
    overflow-y: auto;
  }
}
